.productArrowLeft,
.productArrowRight {
  position: absolute;
  display: none;
}
.productList {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  overflow-x: auto;
  scroll-behavior: smooth;
}

@media (min-width: 80rem) {
  .section {
    width: 80rem;
    margin: 0 auto;
    padding: 1rem;
    box-sizing: border-box;
    position: relative;
  }
  .productList {
    overflow-x: hidden;
  }
  .productArrowRight {
    right: -2rem;
  }
  .productArrowLeft {
    left: -2rem;
  }
  .productArrowLeft,
  .productArrowRight {
    display: block;
    top: 50%;
    transform: translateY(-50%);
  }
}
