.productListSection .productListCard {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  overflow-x: auto;
  scroll-behavior: smooth;
}

.productListArrowButton {
  display: none;
}

.productListArrowButton .arrowButtonBaseStyles {
  font-size: 1.75rem;
  cursor: pointer;
}

.productListArrowButton .arrowButtonBaseStyles:disabled {
  color: #9ca3af;
  cursor: not-allowed;
}

@media (min-width: 80rem) {
  .productListArrowButton {
  height: 1.875rem;
  width: 1.875rem;
  border-radius: 50%;
  background-color: whitesmoke;
}
  .productListSection {
    width: 80rem;
    margin: 0 auto;
    padding: 1rem;
    box-sizing: border-box;
    position: relative;
  }
  .productListSection .productListCard {
    overflow-x: hidden;
  }
  .productListSection .productListArrowButton .productArrowRight {
    right: -2rem;
  }
  .productListSection .productListArrowButton .productArrowLeft {
    left: -2rem;
  }
  .productListSection .productListArrowButton .productArrowLeft,
  .productListSection .productListArrowButton .productArrowRight {
    display: block;
    top: 50%;
    transform: translateY(-25%);
  }
}
